<h2>{{task.text}}</h2>

<div class="task-info">
    {{#if task.completed}}
        <p>{{task.text}} is completed.</p>
        <p>Task was created {{task.dateCreated}}</p>
        <p>Task was completed {{task.dateCompleted}}</p>
    {{else}}
        <p>{{task.text}} is not yet completed.<br>Task was created {{task.dateCreated}}</p>
        <form class="done-form" action="/done" method="POST">
            <input class="done-button" type="submit" name="done" value="Done!">
            <input type="hidden" name="_id" value="{{task.id}}" title="{{task.text}}">
        </form>
    {{/if}}

    <form class="delete-form" action="/delete" method="POST">
        <input class="delete-button" type="submit" name="delete" value="Delete" title="{{task.text}}">
        <input type="hidden" name="_id" value="{{task.id}}" title="{{task.text}}">
    </form>
</div>

<script src="/javascripts/confirm_delete.js"></script>